asgiref==3.7.2
backports.zoneinfo==0.2.1;python_version<"3.9"
certifi==2023.7.22
charset-normalizer==3.2.0
crispy-bootstrap4==2022.1
Django==4.2.5
django-crispy-forms==2.0
docopt==0.6.2
idna==3.4
nltk==3.5
Pillow==10.0.0
pipreqs==0.4.13
regex==2020.10.23
requests==2.31.0
sqlparse==0.4.4
typing_extensions==4.7.1
urllib3==2.0.4
yarg==0.1.9
