{% extends "blog/base.html" %}
{% load static %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static '/blog/styles.css' %}">
    <header class="hero" style="background-image: url('{% static "hero-image.jpg" %}')">
        <h1 style="color: white;">ALL OF TENNIS</h1>
	    <h4 style="color: white;">Exploring Tennis, Inside Out</h3>
    </header>
    <br>
    <section class="section-with-bg section-bg" style="background-image: url('{% static "section1-image.jpg" %}')">
        <div class="overlay"></div>
        <div class="content">
            <div class="left-column">
                <hr>
                <h4 class="white-text">Win-Loss Predictor</h4>
                <p class="white-text">Provide a user-friendly interface for users to predict match outcomes based on historical data. Interactive charts and graphs showcasing player performance and trends.</p>
                <hr>
                <h4 class="white-text">Explore Tennis Through Statistics</h4>
                <p class="white-text">Discover captivating tennis facts through interactive data visualizations. Explore player statistics and records with engaging charts and graphs.</p>
                <hr>
                <h4 class="white-text">Fun Facts About Tennis</h4>
                <p class="white-text">Something not so professional but interesting</p>
            </div>
            <div class="right-column">
                <h4 class="white-text">other content</h4>
            </div>
        </div>
    </section>
    <br>
    <section class="section-with-bg section-bg" style="background-image: url('{% static "section2-image.jpg" %}')">
        <div class="overlay"></div>
        <div class="content">
            <div class="left-column">
                <h4 class="white-text">Serve, Forehand, Backhand, Net Play, Mental Strategies, Fitness Tips.</h4>
                <hr>
                <h4 class="white-text">Mental Strategies​</h4>
                <p class="white-text">Work hard is not always matters</p>
                <hr>
                <h4 class="white-text">Fitness Tips</h4>
                <p class="white-text">Other things you can do to improve your ability</p>
            </div>
            <div class="right-column">
                <h4 class="white-text">Technique</h4>
                <p class="white-text">Offer insights into various tennis techniques and strategies to enhance players' skills​</p>
            </div>
        </div>
    </section>
    <br>
    <section class="section-with-bg section-bg" style="background-image: url('{% static "section3-image.jpg" %}')">
        <div class="overlay"></div>
        <div class="content">
            <div class="left-column">
                <h4 class="white-text">Technology Breakdown</h4>
                <hr>
                <h4 class="white-text">History of Equipment</h4>
                <p class="white-text">How the tennis racquet evolve</p>
                <hr>
                <h4 class="white-text">Technology of Equipment</h4>
                <p class="white-text">Detailed breakdown of the technology and materials used in tennis equipment. Interactive comparisons between different products.</p>
                <hr>
                <h4 class="white-text">Budget Tennis</h4>
                <p class="white-text">Tennis is really not that expensive</p>
            </div>
            <div class="right-column">
                <h4 class="white-text">Equipment</h4>
                <p class="white-text">Provide comprehensive information about tennis equipment to help players make informed choices​</p>
            </div>
        </div>
    </section>
    <br>
    <section class="section-with-bg section-bg" style="background-image: url('{% static "section4-image.jpg" %}')">
        <div class="overlay"></div>
        <div class="content">
            <div class="left-column">
                <h4 class="white-text">Court Finder</h4>
                <hr>
                <h4 class="white-text">Having trouble to find a court?​</h4>
                <p class="white-text">A search tool that allows users to find tennis courts in their area based on location. Map integration with filtering options.</p>
            </div>
            <div class="right-column">
                <h4 class="white-text">Court​</h4>
                <p class="white-text">Explore different types of tennis courts and offer a helpful court finder tool​</p>
            </div>
        </div>
    </section>
    <br>
    <section class="section-with-bg section-bg" style="background-image: url('{% static "section5-image.jpg" %}')">
        <div class="overlay"></div>
        <div class="content">
            <div class="left-column">
                <h4 class="white-text">Match Analysis, Player Profiles, Tournament Highlights, Tennis News.​</h4>
            </div>
            <div class="right-column">
                <h4 class="white-text">Blog</h4>
                <p class="white-text">Curated articles covering a wide range of tennis-related topics.​​​</p>
            </div>
        </div>
    </section>
    <br>
{% endblock content %}
